@model IEnumerable<WebNew.Models.BaiViet>
@{
    ViewBag.Title = "Tin theo Chủ đề ";
    Layout = "~/Views/Shared/_LayoutTopic.cshtml";
}

<h2>Bài viết theo loại</h2>


<div>
    @foreach (var baiviet in Model)
    {
        <div class="col-sm-4 col-md-4 col col-md-4"
              style="height:500px;width:350px">
            <div class="thumbnail" style="height:450px;width:330px">
                <a href="@Url.Action("Details","WebNew",new { id = baiviet.MaBaiviet })">
                    <img alt="@baiviet.TieuDe" src="~/images/@baiviet.HinhAnh" width="350" />
                    <div>
                        <br />
                        <h4 style ="font-family : 'Times New Roman'center">
                            @baiviet.TieuDe
                        </h4>
                        <p></p>
                    </div>
                </a>
                @baiviet.TieuDe
            </div>
        </div>
    }
</div>
@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("LaybaiviettheonuocNK", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>*@
