<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/font.css">
    <link rel="stylesheet" type="text/css" href="~/css/li-scroller.css">
    <link rel="stylesheet" type="text/css" href="~/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="~/css/theme.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5shiv.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        <header id="header">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_top">
                        <div class="header_top_left">
                            <ul class="top_nav">
                                <li><a href="@Url.Action("Index","WebNew")">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="pages/contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="header_top_right">
                            <p>Friday, December 05, 2045</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_bottom">
                        <div class="logo_area"><a href="@Url.Action("Index","WebNew")" class="logo"><img src="~/images/logo.png" alt=""></a></div>
                        <div class="add_banner"><a href="#"><img src="~/images/addbanner_728x90_V1.jpg" alt=""></a></div>
                    </div>
                </div>
            </div>
        </header>
        <section id="navArea">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav main_nav">
                        <li class="active"><a href="@Url.Action("Index","WebNew")"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
                        @Html.Action("LoaiBV","WebNew")
                    </ul>
                </div>
            </nav>
        </section>
        <section id="newsSection">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="latest_newsarea">
                        <span>Latest News</span>
                        <ul id="ticker01" class="news_sticker">
                            @Html.Action("Baivietmoi", "WebNew")
                        </ul>
                        <div class="social_area">
                            <ul class="social_nav">
                                <li class="facebook"><a href="https://www.facebook.com/shaolin.nguyen.90"></a></li>
                                @*<li class="twitter"><a href="#"></a></li>
                                <li class="flickr"><a href="#"></a></li>
                                <li class="pinterest"><a href="#"></a></li>*@
                                <li class="googleplus"><a href="https://plus.google.com/u/0/107267580149168703567"></a></li>
                                <li class="youtube"><a href="https://www.youtube.com/channel/UCYxxFp7_g7GfwPQW1B0teCw"></a></li>
                                @*<li class="mail"><a href="#"></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div>@RenderBody()</div>
        <footer id="footer">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInLeftBig">
                            <h2>Tag</h2>
                            <ul class="tag_nav">
                                <li><a href="~/Content/pages/archive.html">Công nghệ</a></li>
                                <li><a href="~/Content/pages/archive.html">Kinh tế</a></li>
                                <li><a href="~/Content/pages/archive.html">Tài chính - Ngân hàng</a></li>
                                <li><a href="~/Content/pages/archive.html">Văn hóa xã hội</a></li>
                                <li><a href="~/Content/pages/archive.html">Giáo dục</a></li>
                                <li><a href="~/Content/pages/archive.html">Y tế - Sức khỏe</a></li>
                        </div>
                    </div>
                    @*<div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInDown">

                            </ul>
                        </div>
                    </div>*@
                    <div class="col-lg-6 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInRightBig">
                            <h2>Liên hệ</h2>
                            <p>
                                Giấy phép: Số 508/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 11/12/2007 và được gia hạn tại giấy phép số 57/GP-BTTTT ngày 01/03/2013.<br />
                                Tổng biên tập: Trần Huỳnh Tuấn<br />
                                Liên hệ quảng cáo: Minh Nhựt - ĐT: 0912.345.678 | Email: minhnhut.work@gmail.com<br />
                            </p>
                            <address>
                                Tòa soạn báo điện tử NewsToday<br />
                                Điện Thoại: 0123.456.789<br />
                                Địa chỉ: 475A Điện Biên Phủ, Phường 25, Quận Bình Thạnh, HCM<br />
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p class="copyright">Copyright &copy; 2045 <a href="index.html">NewsFeed</a></p>
                <p class="developer">Developed By Wpfreeware</p>
            </div>
        </footer>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/jquery.li-scroller.1.0.js"></script>
    <script src="~/Scripts/jquery.newsTicker.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/custom.js"></script>
</body>
</html>